body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center; 
        background-color: black;       
}

main {width: 550px;}

header {background-color: #6943FF;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#btn {padding: 20px;}
#inputField {padding: 20px;}

section {background-color: lightgray;
        text-align: center;
        padding: 20px;
        margin: 0px;
}

.box {background-color: whitesmoke;
        padding: 20px 20px 40px 20px;
        border-top-left-radius:10px;
        margin-bottom: 10px;

}
